<div class="container">
    <h1 class="text-primary text-center">Enter your email</h1>
    <div class="alert alert-success" *ngIf="successMessage">
      {{successMessage}}
    </div>
    <div class="alert alert-success" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <form action="" [formGroup]="form2" >
       
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Your Email Id</label>
            <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Email Id" formControlName="email">
          </div>

          
          <div class="mb-3">
            <button class="btn btn-primary" (click)="onclick1()">Submit</button>
          </div>
    </form>
</div>


